html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-image: linear-gradient(
    15deg,
    CornflowerBlue,
    MediumSpringGreen 60%,
    transparent
  );
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 20px;
}

.App-body div.App-info {
  padding-bottom: 20px;
}

code {
  background-color: WhiteSmoke;
  color: DarkRed;
  border: 1px outset black;
  border-radius: 3px;
  padding: 5px;
}
